.App {
  text-align: center;
}

.header-container {
  background: #5a6bff;
  color: #ffffff;
  margin-bottom: 0.25em;
}

/*.header {

}*/

.app-title {
  font-size: 2.5em;
}

.form-price {
  margin: 0 auto;
  width: 300px;
  border: 1px solid #5a6bff;
}

.input-block {
  margin: 15px auto;
  padding: 0 20px;
}

.price-label {
  text-align: left;
}

.price-input {
  width: 100%;
}

.submit-button {
  min-width: 30%;
  height: 2em;
  color: #ffffff;
  letter-spacing: 1px;
  background: linear-gradient(0deg, #3c47aa 0%, #5a6bff 50%);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.submit-button:active {
  background: linear-gradient(0deg, #5a6bff 0%, #3c47aa 75%);
}

.submit-button:focus {
  outline: none;
}

#required-asterisk {
  color: #ff0000;
}